.idea
.vscode
.gradle
build
out
target
lib
bin\main\com\ontrexdex\trexbot\commands\assets\sounds

.env

*.iml
*.ipr
*.iws

*.class
*.jar
*.war
*.ear

.DS_Store
Thumbs.db

/log/
/logs/
/temp/

src/test