## Rename to .env
TOKEN=
PREFIX=t-
OWNER_ID=
WEBHOOK_URL=
YOUTUBE=ytapikey
ASSETS=../src/main/java/com/ontrexdex/trexbot/assets/
# If you don't already have a refresh token keeps these settings.
# Once you launch the bot, check the console for a OAuth prompt.
# Afterwards your RF Token will be generated paste that in and change "YTSKIPINI" to 'true'.
RFTOKEN=
YTSKIPINI=false